[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cryptography = "*"
furl = "*"
sdbus = "*"
sdbus-networkmanager = "*"

[dev-packages]
prospector = "*"
pylama = "*"
build = "*"
